<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
  width: 50%;
  background-color: yellow;
}

th {
  text-align: center;
}

td {
  padding: 10px;
}

</style>

<h1>Welcome to Bill's Ruby Assignment Page</h1>

<%= link_to 'About', about_path %>

<br>
<br>

<table style="width:100%">
  <tr>
    <th>Course Overview</th>
    <th>What You Will Learn</th> 
  </tr>
  <tr>
    <td>Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun.<br>
    It includes everything you need to build fantastic applications, and you can learn it with the support of our <br>
    large, friendly community.</td>
    <td><b>The Complete Ruby on Rails Developer Course</b> provides a thorough introduction to Web Applications Development<br>
    using the wildly popular Ruby on Rails framework. With almost 30 hours of engaging video lectures and text follow-up <br>
    lectures with directions, references and all the code used in the videos, this course is designed to take students <br>
    with no programming/web development experience to accomplished Ruby on Rails developers while being just as useful <br>
    for students who have experience coding in Rails and want to take their skills to the next level or students who are <br>
    making the the switch to Ruby on Rails from other frameworks.</td>
  </tr>
</table>

